* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html {
    height:100%;
    width:100%;
}

nav {
    background-color: #1e1e1e;
}

body {
    background-color: #4b4b4b !important ;
    height:100%;
    width:100%;
}

canvas {
    image-rendering:pixelated;
}

.noBackground {
    background-color: transparent !important;
}

#settingsContainer {
    background-color: #2a2a2a;
    border-radius: 5px;
}

.darkBackground {
    background-color: #1d1d1d !important;
}

.copyrightText {
    color: #b5b5b5 !important;
}

.byText {
    color: #f5f5f5 !important;
}
